html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #2f2d13;
  font-family: Georgia, serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  color: #b20953;
  font-size: 3rem;
  margin: 0;
}

.button {
  border-color: #ffe500;
  background-color: #ffe500;
  text-decoration: none;
}

p {
  padding-left: .5em;
  padding-bottom: .5em;
}

a {
  margin: 0;
}

nav a {
  padding: .2em .5em .3em;
  margin: 0 0 .3em;
}

.button nav {
  font-size: 1.125rem;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.button li {
  display: inline-block;
}

.button a {
  display: inline-block;
  border-radius: 4px;
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
}

.button a:hover {
  background-color: #cc1465;
  color: #fff;
}

.button .current {
  background-color: #b20953;
  border-color: #b20953;
  color: #fff;
}

h2 {
  font-family: "Sigmar One", serif;
  font-size: 1.875rem;
  color: #b20953;
  margin: 0;
}

.berries {
  padding-bottom: .8em;
}

.berries h2 {
  padding-top: .8em;
  padding-bottom: .4em;
  padding-left: .3em;
}

figure {
  padding-top: 2em;
  padding-left: .65em;
  padding-right: .65em;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.blueberry {
  margin: 0;
  padding-bottom: 2em;
  padding-top: 0;
}

.blueberry h2 {
  padding-top: 1em;
  padding-bottom: .1em;
}

.red {
  margin: 0;
  padding-bottom: 1.5em;
  padding-top: 0;
}

.red h2 {
  padding-top: .8em;
  padding-bottom: .2em;
}

.grapes {
  margin: 0;
  padding-top: 1em;
  padding-bottom: .75em;
}

.grapes h2 {
  padding-top: .3em;
  padding-bottom: .3em;
}

.figcaption {
  padding-top: 1em;
}

.bottom {
  text-align: center;
  font-size: .75rem;
  background-color: #ffe500;
  padding-bottom: .5em;
  padding-top: 1em;
}

footer {
  margin: 0;
  padding-bottom: .5em;
}
